$centro: center;
.titulos { 
    font-style: bold;
    text-align: $centro;
    padding: 10px;
    font-size: 20px;
}
.centrado { 
   text-align: $centro;
    padding: 2%;
    font-size: 1em;
}
.listas { 
    list-style:circle;
    display: inline-block;
}
