div.gallery {
    margin: 5px;
    width: 180px;
    transition: width 2s;
    padding-left: 25px;
        &:hover{
            width: 200px;
        }
        img {
            width: 100%;
            height: auto;
        }
}  
footer { 
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 2%;
}